*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#ffecec;
    color:#333;
}

header{
    background:linear-gradient(90deg,#ff0000,#ff6666);
    color:white;
    text-align:center;
    padding:40px;
}

nav{
    background:#b30000;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-size:18px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

.hero{
    text-align:center;
    padding:60px 20px;
}

.hero h2{
    color:#d40000;
    font-size:40px;
}

.hero p{
    font-size:22px;
    margin-top:20px;
}

button{
    margin-top:25px;
    padding:15px 30px;
    border:none;
    background:red;
    color:white;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
}

button:hover{
    background:darkred;
}

.news{
    background:white;
    padding:60px 20px;
    text-align:center;
}

.card{
    width:300px;
    display:inline-block;
    margin:15px;
    background:#fff4f4;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}
